{% extends 'base.html' %}

{% block title %} AboutUs {% endblock title %}
{% block content %}
<div class=" a owerflow-hiden" style="height: 100vh;">
    <div class=" col-sm-12 ">
        <h1 class=" py-4 bg-primary text-black-50 my-4 text-center">:سیتم اطلاعاتی ثبت و تایید مقالات علمی و تخصصی 
        </h1>
        <p class=" text-justify text-right text-Aboutus-color">
            با توجه به نیاز های جامعه علمی اعم از نبودن ت مقالات دانشجویان و
            پژوهشگران تصمیم گرفتیم سیستمی طراحی کنیم که نیاز ها جامعه علمی را برطرف کرده و در آن افراد
            بتوانند به ثبت مقاله یا در صورت نیاز ازمقاله دیگر کاربران استفاده نمایند. ما برای طراحی این سیستم از
            ذی نفعان آن برای ارائه هرجه به یی خدمات ،خواسته های آنها را پرس و جوکرده و به نتای یج رسیده
            ایم،از جمله:سیستم اطلاعا یت مربوطه باید دارای امنیت وکیفیت باشد به معنای اینکه هر شخص در
            فضای شخصی خودش بتواند فعالیت مربوطه را انجام داده و به اطلاعات دیگر افراد دس ییسی نداشته
            باشد.همچن ر یی دارای فضایت برای مدیر سیستم که میخواهند مقالات را تاییدکند باشداین سیستم
            ی
            از جمله اطلاعات کاربر(دانشجو یا پژوهشگر) مانند اطلاعات حقی یق و همچن ری
            یت
            ها
            اطلاعا یت داده
            نشر
            اطلاعات مقالات مانند موضوع مقاله تاری خ مقاله و همچن ر یی مالک آن را در خود ذخ ریه میکندکه
            تی
            عا
            این سیستم اطلا موجب کمک به افراد برای سرعت بخشیدن به کار هایشان میشود.
        </p>
    </div>
</div>


{% endblock content %}