{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class="a owerflow-hiden" style="height: 100vh;">
    {% if user.is_authenticated %}
    <h5 class=" text-center text-light"> Username: {{ user.username }}</h5>
    
    {% endif %}
    <div class="container-fluid row justify-content-center k mt-5">
        {% for post in maghalelist %}
        <div class="card col-auto text-center b m-1 rounded-20" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title font-weight-bold font-italic">{{ post.title_Maghale }}</h5>
            <h6 class="card-subtitle mb-2 color-text">{{post.Grouping_Maghale}}</h6>
            <h6 class="card-subtitle mb-2 color-text">{{post.Code_Maghale}}</h6>
            <p class="card-text">{{post.getsnippet}}</p>
            <a href="{% url 'details' post.id %}" class="card-link color-link font-weight-bold">Go somewhere</a>
            </div>
            
        </div> 
        {% endfor %}
        
    </div>
    {% if user.is_authenticated %}
    <div class=" row justify-content-center py-4">
        <a href="additem" class="btn btn-info btn-add-m"> Add Article  </a>
    </div>
    {% endif %} 
    <div class="container row justify-content-center mx-auto k">
        <div class=" col-auto">
            {% if user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="" class="py-3">
            {% csrf_token %}
            <button type="submit" class=" btn btn-info btn-logout px-5 py-3"> Logout</button>
        </form>
        {% else %}
        <form action="{% url 'accounts:login' %}" method="" class="py-3">
            {% csrf_token %}
            <button type="submit" class=" btn btn-primary btn-login px-5 py-3"> Login</button>
        </form>
        
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
